@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
* {
    padding: 0;
    margin: 0;
    border: 0;
}

div {
    display: block;
}

header {
    background-color: #294242;
    border-top: 20px solid #334d4d;
    height: 160px;
    text-align: center;
    margin: auto;
    width: 66vw;
    padding: 20px 0 70px 0;
    display: block;
}

h1 {
    color: white;
    padding-top: 0px;
    padding-bottom: 5px;
    border-bottom: none;
}

h2 {
    display: block;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 30px;
    font-style: italic;
    text-transform: none;
    color: grey;
}

h3 {
    text-transform: uppercase;
    font-weight: normal;
    display: block;
}

abbr {
    border: none;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.01em;
}

div {
    display: block;
}

p {
    display: block;
}

.page-wrapper {
    font-family: 'Libre Baskerville', sans-serif;
    position: relative;
}

.intro {
    width: 66.6%;
    text-align: center;
    text-transform: uppercase;
}

#zen-intro {
    position: relative;
    left: 0;
    width: 40%;
}

.banner {
    float: center;
    width: 66vw;
    text-align: center;

}

.summary {
    text-transform: none;
    width: 66vw;
    text-align: left;
    float: center;
    padding-top: 2em;
}

#zen-summary {
    text-transform: uppercase;
}

div.preamble {
    text-transform: none;
    text-align: left;
    width: 66vw;
}

div.main-supporting {
    width: 66vw;
}

div.explanation {
    width: 66vw;
}

div.participation {
    margin-top: 3em;
    width: 66vw;
    background: rgba(91, 124, 105, 0.5);
}

div.benefits {
    padding-bottom: 3em;
    margin-bottom: 3em;
    width: 66vw;
    background: rgba(91, 124, 105, 0.5);
}

.requirements p:nth-child(5){
    padding-bottom: 2em;
}

.supporting .requirements {
    float: none;
    clear: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.supporting .requirements a {
    text-decoration: none;
}

.supporting .requirements h3{
    padding-top: 0;
}

.requirements p:last-child {
    width: auto;
    padding: 1em 12%;
    margin: 0;

}

#zen-supporting, #zen-explanation, #zen-participation {
    width: 66vw;
    display: inline-block;
}

 .sidebar {
    background: #b6bbb9;
    position: absolute;
    right: 0;
    top: 0;
    width: 33vw;
} 

.wrapper {

}

.viewall {
    color: #294242;
    position: absolute;
    top: 0;
    right: 0;
}

.design-selection {
    text-align: left;
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    margin-top: 50px;
}

.design-selection .design-archives .design-archives h3 {
    display: none;
}

.select {

}

.design-archives {
    text-align: right;
    width: 33vw;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: rgba(255,255,255,0.2);
    height: 310px;
    margin: auto;
}

.design-archives li {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
}

.next {
    float: center;
    color: #243838
}

li {
    display: list-item;
}

.archives {
    text-align: left;
}

.resources {
    display: none;
}

.zen-resources {
    position: absolute;
    text-align: left;
    background-color: rgba(112, 153, 130, 0.5);
    display: block;
    overflow: hidden;
    float: right;
    width: 33vw;
}

.zen-resources li {
    border-top: solid 1px;
    font-style: normal;
}

.zen-resources li:last-child {
    float: none;
    width: auto;
    border-bottom: solid 1px;
}

.resources {
    text-align: right;
}

.view-css {

}

.css-resources {

}

#zen-faq {

}

#zen-submit {

}

#zen-translations {

}

#zen-supporting {
    position: relative;
    left: 0;
    width: 60%;
}

.designer-name {

}

.design-name {
    text-transform: uppercase;
    text-align: left;
}

#title {
    color: black;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
}

ul {
    list-style-type: none;
}

footer {
    clear: both;
}